本项目使用java23编程语言，用JavaFX开发，使用maven管理依赖

【开发规范】
1. 项目使用java23编程语言
2. 项目使用JavaFx开发GUI
3. 包名为com.tangyujun.datashadow
4. 项目使用maven管理依赖
5. 项目使用JUnit进行单元测试
6. 全程完善注释
7. launcher模块为启动模块，datasource-db模块为数据库数据源模块，datasource-file模块为文件数据源模块
8. 数据源模块定义数据源的配置、可用性验证、数据读取、数据头读取、数据字段映射

【原型说明】
原型通过在design目录下使用markdown文件进行描述
在markdown文件内部使用html进行界面原型说明（注意在markdown中使用html时连续的html标签之间不能间隔空行）
生成原型的时候应该充分考虑javafx实现的可能性，做到界面美观、功能齐全、操作方便

【核心功能】
核心功能为通过读取各种数据来源（excel、csv、json、xml、Oracle/Mysql数据库等）的结构化数据，进行数据比对，并生成比对结果

【数据源说明】
数据源可动态在程序中加载（类似MC的mod），
数据源的配置、可用性验证、数据读取、数据头读取、数据字段映射等均在数据源模块中实现
数据源还应该定义数据源配置的行为，例如打开对话框、选择文件、配置数据库链接信息等
