target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.idea/

# 构建相关的目录和文件
datashadow-runtime/runtime/
datashadow-runtime/datashadow-launcher-1.0.0-SNAPSHOT.jar
datashadow-runtime/jdk-21.0.2/
datashadow-runtime/javafx-sdk-21.0.5/
dist/